
.navbarMain ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarMain li {
    float: left;
}

.navbarMain li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarMain li a:hover {
    background-color: #111;
}
.navbarMain image{
    max-height: 20px;
    max-width: 20px;
}
.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
#homepage{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pageTitle{ 
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    color:#4CAF50;
}

#subscript{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 10px;
    font-style: italic;

}

#signIn{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.enter{


    background-color: #d3d3d3;
    border-radius: 50px 15px;
    text-align: center;

    width:25%;
    margin: 15px auto;
    display: block;
}
.enter > a{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
    color: green;
}
.popUp:hover{
    background-color: #B9FBBB;
    color: #2C3C2D;
}


input{
    font-size: 10px;
    font-style: italic;
    border: 0.5px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding-left: 7px;
    box-shadow: 0.5px 0.5px;

}

.popUp{ 
    border-radius: 15px;
    text-align: center;
    width:60%;
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color:white;
}

.frontPage{ /* Additional Padding Above Buttons on Front Page */
    padding-top: 15px;
}

#login{
    float: left;
}

#loginForm{
    display: none;
    width: 50%;
    margin: 0 auto;
}

#footer {
    position: relative;
    left: -1;
    bottom: -1;
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: white;
    text-align: center;
}
/*CSS of login popup window:*/
#loginpopup{font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.logo {
    width: 80px;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

#container {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    position: relative;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.formtext{
    font-family: Arial;
    font-size: x-small;
}

img.aboutImage{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
}

buttonFooter {
    background-color: #333333;
}

li.copyright {
    list-style-type: none;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
}

contactForm {
    padding-left: 5%;
    padding-right: 5%;
}

input[required]:hover {
    background-color:rgba(255, 0, 0, 0.2);
  }

  @import "compass/css3";

  @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
  
  
  body {
    background:#249991;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:100;
    line-height:1;
    font-size:20px;
    color:#222;
    text-align:center;
}

/* WRAPPER */

.wrapper {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
                       "content";
  width: 100vw; /* unnecessary, but let's keep things consistent */
  height: 100vh;
}

@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
  }
}

/* SIDEBAR */

main {
  grid-area: content;
  padding: 48px;
}

sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "logo menu avatar"
                       "copyright menu avatar";
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  text-align: center;
}
.avatar {
  grid-area: avatar;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.avatar__name {
  flex: 1;
  text-align: right;
  margin-right: 1em;
}
.avatar__img > img {
  display: block;
}

.copyright {
  grid-area: copyright;
}
.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  grid-area: logo;
}
.menu__text {
  display: none;
}

@media screen and (min-width: 850px) {
  sidebar {
    grid-template-areas: "logo"
                         "avatar"
                         "menu"
                         "copyright";
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr 50px;
  }
  
  .menu {
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
  }
  .menu__text {
    display: inline-block;
  }
  .avatar {
    flex-direction: column;
  }
  .avatar__name {
    margin: 1em 0;
  }
  .avatar__img > img {
    border-radius: 50%;
  }
}


/* ----------- Content for Calendar Page ----------- */

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
  border-bottom: 1px solid #e1e1e1;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

:root {
  --red: #ED5454;
}

sidebar {
  background-color: white;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
}

main {
  background-color: #FCFBFC;
}

.avatar__name {
  font-size: 0.8rem;
}

.menu__item {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 16px 16px 16px 14px;
  border-left: 4px solid transparent;
  color: inherit;
  text-decoration: none;
  transition: color ease 0.3s;
}

.menu__item--active .menu__icon {
  color: var(--red);
}
.menu__item--active .menu__text {
  color: black;
}

.menu__item:hover {
  color: black;
}

.menu__icon {
  font-size: 1.3rem;
}

@media screen and (min-width: 850px) {
  .menu__icon {
    font-size: 0.9rem;
    padding-right: 16px;
  }
  .menu__item--active {
    border-left: 4px solid var(--red);
    box-shadow: inset 10px 0px 17px -13px var(--red);
  }
}

.copyright {
  font-size: 0.7rem;
  font-weight: 400;
}

.calendar__header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar__day {
  border-right: 1px solid #e1e1e1;
}

.toggle{
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: center;
  font-size: 0.9em;
}
.toggle__option{
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  text-transform: capitalize;
  cursor: pointer;
}
.toggle__option:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.toggle__option:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.toggle__option--selected{
  border-color: white;
  background-color: white;
  color: var(--red);
  font-weight: 500;
  box-shadow: 1px 2px 30px -5px var(--red);
}

button.date {
  border-color: orange;
}
/* ----------- END: Content for Calendar Page ----------- */

/* ----------- Content for User Profile Page ----------- */
img.user-image {
    width: 100px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
/* ----------- END: Content for User Profile Page ----------- */


/* ----------- Content for Slider Design ----------- */
.carousel-item {
    height: 30vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* ----------- END: Content for Slider Design ----------- */

  /* ----------- Appointment Table  ----------- */

  input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  iframe {
      border: none !important;
  }

  .js-pscroll {
    position: relative;
    overflow: hidden;
  }
  
  .table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
  }
  
  .table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  .table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
  }
  
  .table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

  .table100.ver2 .table100-head {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .table100.ver2 th {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #4CAF50;
    line-height: 1.4;
  
    background-color: transparent;
  }
  
  .table100.ver2 td {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    /*color: #808080;*/
    line-height: 1.4;
  }
  
  .table100.ver2 .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
  }
  
  .table100.ver2 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver2 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver2 .ps__rail-y::before {
    background-color: #ebebeb;
  }
  
  .table100.ver2 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }

/* ----------- END: Appointment Table ----------- */

/* ----------- Content for FAQ Collapsible Cards ----------- */
.btn-link {
  font-weight: 400;
  color: #4CAF50;
  background-color: transparent;
  white-space: normal;
}

/* ----------- END: FAQ Collapsible Cards ----------- */